.model-selection-section {
  /* margin: 20px; */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
}

.model-selection-title {
  font-size: 22px;
  /* font-weight: bold; */
  margin-bottom: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.model-selection-card-area {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  /* z-index: 1; */
}

.model-selection-card {
  display: flex;
  background-color: rgb(163, 160, 160);
  border-radius: 8px;
  padding: 15px;
  /* margin: 0 10px; */
  cursor: pointer;
  min-width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
    flex-direction: column;
    justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.model-selection-card:hover {
  transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(159, 173, 173);
    /* z-index: 2; */
}

.model-selection-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.model-selection-card-description {
  font-size: 14px;
  color: #555;
}

.model-selection-card.selected {
  background-color: rgb(30, 32, 31); /* Highlight color */
  color: white;
  /* Add any other styles for the highlighted state */
}