.registrationBoxes{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* margin-top: 20vh; */
  }

  .logBox{
    display: flex;
    flex-direction: row;
  }
.guest-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.route-container{
display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 80%;
    height: 20%; */
    /* position:absolute; */
    margin-bottom: 1rem;
}


.route-container p{
font-size: 15px;
}   

.go-to-link{
font-size: 15px;
    color: blue;
    margin-left: 10px;
    cursor: pointer;
}   

